body {
  background-color: #fff7ff;
}

h1 {
  text-align: center;
  color: purple;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 40px;
}
.btn-primary {
  background-color: purple;
  border: 1px solid purple;
}

.main,
.week {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.24);
  padding: 40px;
  border-radius: 24px;
  margin-bottom: 40px;
  max-width: 640px;
  background-color: white;
}

.weather-icon {
  font-size: 80px;
}
.city,
.tempnow {
  margin-top: 40px;
  font-size: 32px;
  font-weight: bold;
  color: #222;
}

.time,
.description,
.label {
  color: #888;
  display: inline-block;
}

.tempnow,
.humidity,
.windspeed {
  color: purple;
  display: inline-block;
}
